/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

@media(max-width: 768px){
    .product{
        width: calc((100% - 2rem)/3);
    }
}

html {
    position: relative;
    height: 100%;
}

body {
    display:flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    flex: 1;
}

header {
    background-color: rgb(241, 166, 166);
}

.header-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
}

.navbar {
    color: black;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.search-bar {
    width: 500px;
    height: 35px;
    border-radius: 10px;
    border: none;
}

.profile {
    position: relative; /* Позиционирование относительно ссылки "Профиль" */
}

.profile-list {
    width: 150px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #ccc;
    border-radius: 10px;
    position: absolute;
    top: 80%; /* Положение прямо под "Профиль" */
    left: -10px;
    transition: top 0.9s ease;
    display: none;
}

.profile-list ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
}

.profile-list ul li {
    padding: 8px 16px;
}

.profile-list ul li a {
     color: rgb(18, 18, 18);
     text-decoration: none;
     display: block;
}

#profile:hover + .profile-list {
    display: block; /* Показываем меню при наведении на "Профиль" */
}

.profile a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.goods {
}

.list-goods {
    width: 500px;
    height: 100%;
    padding-top: 100px;
    top: 65px;
    transition: left 0.3s ease;
    position: fixed;
    left: -510px;
    border: 2px solid #8b8b8b;
    background-color: white;
}

 list-goods ul {
   list-style-type: none;
   padding: 2px;
   margin: 0;
 }

 .list-goods ul li a {
    color: rgb(18, 18, 18);
    text-decoration: none;
    display: block;
 }

   .list-goods ul li a:hover {
       color: rgb(105, 103, 103);
   }

.navbar_exit {
    background-color: transparent;
    right: 50px;
    top: 10px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    position: absolute;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.hero {
    text-align: center;
    padding: 2rem 0;    
}

.product-main {
    margin-top: auto;
    position:center;
}
.product-cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    flex-wrap: wrap;
    justify-content:center;
}

.product-card {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
    background-color: white;
    height: 400px;
    width: 300px;
    text-decoration: none;
    color: black;
}
.product-details {
    text-align: left;
    
}
.name{
    text-align: left;
}
.points{
    text-align: left;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 5px;
    height: 200px;
}

.product-card h2{
    font-size: 18px;
    margin: 10px 0;
}

.product-card p{
    font-weight: bold;
}


.price {
    font-weight: bold;
    margin-bottom: 1rem;
}


footer {
    margin-top:auto;   
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(241, 166, 166);
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-group {
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание */
    align-items: center; /* Центрирование по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
    position: relative; /* Добавлено для правильной работы transform */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ширина формы */
}

.btn-login {
    margin: 0 auto; /* Центрирование кнопки */
    text-align: center;
    background-color: #007BFF; /* Синий цвет кнопки */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 25%; /* Фиксированная ширина кнопки */
}

.a-reg {
    justify-content: center;
    display: flex;
}

.reg-group {
    display: flex;
    flex-direction: column; /* Вертикальное выравнивание */
    align-items: center; /* Центрирование по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
    position: relative; /* Добавлено для правильной работы transform */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 300px; /* Ширина формы */
}

.btn-reg {
    margin: 0 auto; /* Центрирование кнопки */
    text-align: center;
    background-color: #007BFF; /* Синий цвет кнопки */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 25%; /* Фиксированная ширина кнопки */
}

.reg-log-main {  
    margin-top: 8%;
}

.heading{
    margin-top: 10px;
}
